.main-div-in-edu-page {
    position: relative;
    top: 40px;
    left: 100px;
    width: 79vw;
}

.span-tag-in-edu-page {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

.h2-tag-in-edu-page {
    font-size: 18px;
    /* margin-bottom: 4em; */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}

.first-image-in-edu-tab {
    width: 0vw;
    overflow: hidden;
    /* height: 24vw; */
    margin-top: 120px;
}

.accordion-item {
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion-item.active .accordion-content {
    max-height: 1000px;
    transition: max-height 0.5s ease;
}

.accordion-header {
    overflow: hidden;
    padding: 0px 25px; 
    width: 72%;
    background-color: #f2f3f7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-header.active-header {
    background-color: #3498db;
    color: #fff;
}

.accordion-content {
    padding: 25px 25px; 
    width: 71.8%;
    margin-top: 5px;
    border: 1px solid #e6e6e6 !important;
    transition: max-height 0.3s ease;
}
.for-tittle-and-arrow {
    display: flex;
}
.arrow {
    transition: transform 0.3s ease;
    padding: 20px 0px 20px 0px;
}
.accordion-item.active .arrow {
 transform: rotate(90deg);
  }

  .tittle-of-accordians {
    padding: 20px 25px;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Quicksand", Arial, sans-serif;
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
  }
  a {
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    .main-div-in-edu-page {
        margin-left: 30px;
    }
    .arrow {
        transition: transform 0.3s ease;
        padding: 30px 0px 0px 0px;
        background-color: transparent;
    }
    .tittle-of-accordians {
        width: 230px;
    }
    .accordion-tag-in-edu-tag {
        width: 360px;
    }
  }