.div-tag-in-about-me-page {
  position: relative;
  top: 40px;
  left: 100px;
}

.first-image-in-about-page {
  width: 0vw;
  overflow: hidden;
}

.main-div-in-about-page {
  width: 79vw;
}

.span-tag-in-about-me-page {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}

.h2-tag-in-about-page {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}

.paragraph-tag-in-about-me-page {
  width: 950px;
  margin-bottom: 1.5em;
  color: #999999;
}

.services1 {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0;
  padding: 3.0em;
  width: 100px;
  margin-left: 110px;
  margin-top: 60px;
}

.services2 {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #f77750;
  padding: 3.0em;
  width: 100px;
  margin-left: 110px;
  margin-top: 60px;
}

.services3 {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #f9bf3f;
  padding: 3.0em;
  width: 100px;
  margin-left: 110px;
  margin-top: 60px;
}

h3 {
  color: #000;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
  text-align: center;
}

.logo-in-about-me1 {
  padding: 10px 35px;
  font-size: 30px;
  color: #2c98f0;
}

.logo-in-about-me2 {
  padding: 10px 35px;
  font-size: 30px;
  color: #f77750;
}

.logo-in-about-me3 {
  padding: 10px 35px;
  font-size: 30px;
  color: #f9bf3f;
}

.for-all-the-four-containers {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .main-div-in-about-page {
    padding: 20px;
  }

  .div-tag-in-about-me-page {
    text-align: left;
    margin-top: -21px;
  }

  .span-tag-in-about-me-page,
  .h2-tag-in-about-page,
  .paragraph-tag-in-about-me-page {
    margin-left: 10px;
    /* Adjust indentation as needed */
    width: 100%;
  }

  .for-all-the-four-containers {
    margin-left: 95px;
  }

  .services1,
  .services2,
  .services3 {
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-bottom: -200px;
    margin-left: 10px;
  }

  .logo-in-about-me1,
  .logo-in-about-me2,
  .logo-in-about-me3 {
    font-size: 24px;
  }

  .first-image-in-about-page {
    width: 100%;
  }
}

.main-div-in-about-page {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.main-div-in-about-page.fade-in-right {
  opacity: 1;
  transform: translateX(0);
}
